<!DOCTYPE html>
<div id="answer-specific-inner-container">
  <div id="answer-specific-left-container">
    <div id="answer-specific-arrow-container">
    </div>
    <div id="answer-specific-block-container">
    </div>
  </div>
  <div id="answer-specific-right-container">
    <div id="answer-specific-content-container">
    </div>
    <div id="answer-specific-statistics-container">
      <div id="answer-specific-statistics-container-left">
      </div>
      <div id="answer-specific-statistics-container-right">
      </div>
    </div>
  </div>
</div>