<!DOCTYPE html>
<div id="question-specific-outer-container">
  <div id="question-specific-inner-container">
    <div id="question-specific-left-container">
      <div id="question-specific-arrow-container">
      </div>
      <div id="question-specific-block-container">
      </div>
    </div>
    <div id="question-specific-right-container">
      <div id="question-specific-content-container">
      </div>
      <div id="question-specific-statistics-container">
        <div id="question-specific-statistics-container-left">
        </div>
        <div id="question-specific-statistics-container-right">
        </div>
      </div>
    </div>
  </div>
  <div id="answers-general-outer-container">
    <!-- ANSWER SPECIFIC CONTENT INSERTED HERE -->
  </div>
  <div id="answer-buttons-outer-container">
    <div id="add-answer-container">
    </div>
    <div id="show-more-answers-container">
    </div>
  </div>
</div>